.lines-enter, .lines-leave-active {
  opacity: 0
}
.lines-enter-active, .lines-leave-active {
  transition: opacity 0.5s
}

.points-enter, .points-leave-active {
  opacity: 0
}
.points-enter-active, .points-leave-active {
  transition: opacity 0.5s
}
.points-move {
  transition: transform 0.5s;
}
